<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css" />
  <title>Sell yo stuff!</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <a href="index.html">Sell yo stuff!</a>
      </div>
      <div class="header-links">
        <a href="signin">Sign In</a>
        <a href="cart.html">Cart</a>
      </div>
    </header>
    <!--
    <aside>
      Categories
    </aside>
    -->
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="images/canon_printer.png" alt="Canon printer">
              <div class="product-name">
                <a href="product.html">Canon Printer</a>
              </div>
              <div class="product-desc-short">A great printer</div>
              <div class="product-price">$100</div>
              <div class="product-seller">Seller Account</div>
              <div class="product-seller-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/canon_printer.png" alt="Canon printer">
              <div class="product-name">
                <a href="product.html">Canon Printer</a>
              </div>
              <div class="product-desc-short">A great printer</div>
              <div class="product-price">$100</div>
              <div class="product-seller">Seller Account</div>
              <div class="product-seller-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/canon_printer.png" alt="Canon printer">
              <div class="product-name">
                <a href="product.html">Canon Printer</a>
              </div>
              <div class="product-desc-short">A great printer</div>
              <div class="product-price">$100</div>
              <div class="product-seller">Seller Account</div>
              <div class="product-seller-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/canon_printer.png" alt="Canon printer">
              <div class="product-name">
                <a href="product.html">Canon Printer</a>
              </div>
              <div class="product-desc-short">A great printer</div>
              <div class="product-price">$100</div>
              <div class="product-seller">Seller Account</div>
              <div class="product-seller-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/canon_printer.png" alt="Canon printer">
              <div class="product-name">
                <a href="product.html">Canon Printer</a>
              </div>
              <div class="product-desc-short">A great printer</div>
              <div class="product-price">$100</div>
              <div class="product-seller">Seller Account</div>
              <div class="product-seller-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/canon_printer.png" alt="Canon printer">
              <div class="product-name">
                <a href="product.html">Canon Printer</a>
              </div>
              <div class="product-desc-short">A great printer</div>
              <div class="product-price">$100</div>
              <div class="product-seller">Seller Account</div>
              <div class="product-seller-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/canon_printer.png" alt="Canon printer">
              <div class="product-name">
                <a href="product.html">Canon Printer</a>
              </div>
              <div class="product-desc-short">A great printer</div>
              <div class="product-price">$100</div>
              <div class="product-seller">Seller Account</div>
              <div class="product-seller-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/canon_printer.png" alt="Canon printer">
              <div class="product-name">
                <a href="product.html">Canon Printer</a>
              </div>
              <div class="product-desc-short">A great printer</div>
              <div class="product-price">$100</div>
              <div class="product-seller">Seller Account</div>
              <div class="product-seller-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/canon_printer.png" alt="Canon printer">
              <div class="product-name">
                <a href="product.html">Canon Printer</a>
              </div>
              <div class="product-desc-short">A great printer</div>
              <div class="product-price">$100</div>
              <div class="product-seller">Seller Account</div>
              <div class="product-seller-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/canon_printer.png" alt="Canon printer">
              <div class="product-name">
                <a href="product.html">Canon Printer</a>
              </div>
              <div class="product-desc-short">A great printer</div>
              <div class="product-price">$100</div>
              <div class="product-seller">Seller Account</div>
              <div class="product-seller-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
        </ul>
      </div>
    </main>
    <footer class="footer">
      All rights reserved.
    </footer>
  </div>
</body>
</html>
